<% include partials/header %>
<h1>My photographs:</h1>
<a href='/photos/new'>add new photo</a>

<% photos.forEach(function(photo) { %>
    <div>
        <h3><%= photo.name %></h3>
        <img src='<%= photo.image %>'>
    </div>

<% }); %>

<% include partials/footer %>